@define-color primary              #ffbf2d;
@define-color on_primary           #30312a;
@define-color primary_container    rgba(67, 68, 60, 0.8);
@define-color on_primary_container #dcdbd0;

@define-color secondary            #c8c6c1;
@define-color on_secondary         #31312d;
@define-color secondary_container  rgba(71, 71, 67, 0.7);
@define-color on_secondary_container #e2e0da;

@define-color tertiary             #c2c8c4;
@define-color on_tertiary          #2c322f;
@define-color tertiary_container   rgba(63, 69, 66, 0.7);
@define-color on_tertiary_container #d7dcd8;

@define-color surface              rgba(20, 19, 19, 0.85);
@define-color surface_variant      rgba(71, 71, 64, 0.8);
@define-color on_surface           #e5e2e0;
@define-color on_surface_variant   #c8c7be;

@define-color outline_variant      rgba(71, 71, 64, 0.6);

@define-color error                #ffb4ab;
@define-color error_container      rgba(147, 0, 10, 0.8);
@define-color on_error_container   #ffdad6;

window#waybar {
    background: @surface;
    border-radius: 0px;
}

* {
    font-family: "DejaVu Sans Mono";
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.05, 0.7, 0.1, 1);
    border-radius: 80px;
}

#workspaces button {
    margin: 6px 2px;
    padding: 2px 6px;
    transition:
        padding 0.2s cubic-bezier(0.05, 0.7, 0.1, 1),
        background-color 0.2s;
}
#workspaces button.active {
    margin: 6px 2px;
    padding: 2px 16px;
}

#disk.root,
#disk.home,
#memory,
#cpu,
#custom-weather,
#custom-recording,
#custom-brightness,
#bluetooth,
#pulseaudio,
#network,
#battery {
    margin: 6px 2px;
    padding: 2px 12px;
}

#tray {
    margin: 6px 2px;
    padding: 2px 16px;
}

#clock {
    margin: 6px 2px;
    padding: 2px 12px;
}

#custom-power {
    margin: 6px 6px 6px 2px;
    padding: 2px 12px;
}

menu {
    background: @surface;
    border-radius: 8px;
}

#workspaces button {
    background: @surface_variant; /* @surface_variant */
    color: @on_surface_variant;
}
#workspaces button.active {
    background: @primary;
    color: @on_primary;
}
#workspaces button:hover {
    /* background: @secondary_container;
    color: @on_secondary_container; */
    background: @primary;
    color: @on_primary;
}
#workspaces button.visible,
#workspaces button.persistent {
    color: @on_primary;
}
#workspaces button.visible:hover,
#workspaces button.persistent:hover {
    color: @on_secondary_container;
}

#disk.root,
#disk.home,
#memory,
#cpu,
#custom-weather,
#custom-recording,
#custom-brightness,
#bluetooth,
#pulseaudio,
#network,
#battery {
    background: #21191c; /* @surface_variant */
    color: @on_surface_variant;
}

#custom-brightness:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.muted:hover,
#network:hover,
#custom-weather:hover,
#custom-recording:hover,
#disk.root:hover,
#disk.home:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#battery:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}

#pulseaudio.muted {
    background: #21191c; /* @tertiary_container */
    color: @on_tertiary_container;
}

#tray {
    background: @surface_variant;
    color: @on_surface_variant;
}

#clock {
    background: #21191c; /* @surface_variant */
    color: @on_surface_variant;
}

#custom-power {
    background: @primary;
    color: @on_primary;
}
#custom-power:hover {
    background: @secondary;
    color: @on_secondary;
}
